<div class="container">
  <h1> Echanges</h1>
<% if @exchanges.any? %>
  <% @exchanges.each do |exchange| %>
    <div class="border p-3 rounded mb-2">
      <p><strong>Demandé par :</strong> <%= exchange.initiator.username %></p>
      <p><strong>Manga demandé :</strong> <%= exchange.wanted_manga.db_manga.title %></p>
      <p><strong>Status :</strong> <%= exchange.status %></p>
      <%= link_to 'Voir', exchange_path(exchange) %>
    </div>
  <% end %>
<% else %>
  <p>Aucune demande d’échange.</p>
<% end %>
</div>
