// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Variables DA:
$manga-primary: #C40000;
$secondary: #FF6F00;
$tertiary: #F6E479;
$background: #454545;
$on_background: #FDFDFD;
$surface: #606060;
$on_surface: #D0D0D0;
$surface_variant: #505050;
$outline: #8F8F8F
