// style générale
.general-style {
  background-color: $background;
  min-height: 100vh;
  min-width: 100vw;
  color: $on_background;
}
.outline{
  outline: 1px solid greenyellow;
}
// Style pour index.html.erb
.size-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
}
