// style générale
.general-style {
  background-color: $background;
  min-height: 100vh;
  min-width: 100vw;
  color: $on_background;
}

h1, h2, h3, h4, h5 {
  color: $on_background !important;
}

.general-style .form-text {
  color: $on_surface;
}
.outline{
  outline: 1px solid greenyellow;
}

.general-style-image {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 595px;
  border-radius: 32px; // optionnel pour un effet plus doux
  display: block;
  margin: 0 auto; // centre l’image dans son conteneur
  z-index: 0;
  top: -200px;
  object-fit: cover;
}

.general-style-details {
  position: relative;
  top: -200px;
}
