// style générale
.general-style {
  background-color: $background;
  min-height: 100vh;
  min-width: 100vw;
  color: $on_background;
}

.general-style .form-text {
  color: $on_surface;
}
.outline{
  outline: 1px solid greenyellow;
}

.general-style-image {
  width: 100%;
  max-width: 420px;
  height: auto;
  max-height: 595px;
  object-fit: cover;
  border-radius: 8px; // optionnel pour un effet plus doux
  display: block;
  margin: 0 auto; // centre l’image dans son conteneur
}
