<div id="notification-<%= notification.id %>" class="">
  <% if notification.params[:message].present? %>
  <div class="">
    <p class="">
      <%= notification.params[:message] %>
    </p>
    <p class="">
      <em><%= time_ago_in_words(notification.created_at) %></em>
    </p>
    <% if Notification.last && current_user%>
    <% else %>
    <hr>
    <% end %>
  </div>
  <% else %>
    <div></div>
  <% end %>
</div>
