<div class="topbar container">
  <div class="navbar-nav d-flex flex-row align-items-center justify-content-between mt-4">
    <%= link_to root_path, class: "btn btn-secondary" do%>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h3 class="">ManKai</h3>
    <i class="fa-solid fa-bell btn btn-secondary"></i>
  </div>
</div>
