<div class="general-style">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-12">
        <div class=" p-0">
          <div id="chat-messages" data-chat-id="<%= @chat.id %>" style="height: 500px; overflow-y: auto;">
            <%= render partial: 'messages/message', collection: @chat.messages.includes(:user), as: :message %>
          </div>

          <div class="p-3">
            <div id="message-form">
              <%= render partial: 'messages/form', locals: { chat: @chat, message: Message.new } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
