<div class="general-style">
  <div class="container mt-4">
    <h2>Mon Calendrier d'Échanges</h2>

    <!-- Le calendrier Simple Calendar -->
    <%= month_calendar(events: @scheduled_exchanges, attribute: :meeting_date) do |date, exchanges| %>
      <!-- La partial _month_calendar.html.erb sera automatiquement utilisée -->
    <% end %>

    <div class="mt-4">
      <%= link_to "← Retour aux échanges", exchanges_path, class: "btn btn-manga-secondary" %>
    </div>
  </div>
</div>
