<div class="general-style">
  <div class="container mt-4">
    <!-- Le calendrier Simple Calendar -->
    <%= month_calendar(events: @scheduled_exchanges, attribute: :meeting_date) do |date, exchanges| %>
      <!-- La partial _month_calendar.html.erb sera automatiquement utilisée -->
    <% end %>
  </div>
</div>
