<!-- Liste des notifications -->
<div class="container mt-4">
    <div class="card">
        <% if @notifications.any? %>
            <%= render @notifications.order(created_at: :desc) %>
        <% else %>
          <p class="text-center">Aucune notification pour le moment.</p>
        <% end %>
    </div>
</div>
