
<div class="general-style">
  <div class="container mt-4">
    <div class="form-wrapper mx-2">
      <%= simple_form_for(@user_collection) do |f| %>
        <div class="mb-3">
          <%= f.input :name, label: "Nom de la collection", input_html: { class: "form-control input-on-surface" } %>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">

          <%= button_tag type: "submit", class: "btn btn-manga-primary" do %>
          <i class="fas fa-book"></i>
          Créer ma collection
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
