.btn-red {
  background-color: $manga-primary !important;
  color: $on_background !important;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $background !important;
    color: $on_background !important;
    outline: $manga-primary solid 2px;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 0.2rem $manga-primary !important;
  }
}



.btn-secondary {
  background-color: $background !important;
  color: $secondary !important;
  border: none;
  border-radius: 0.5rem;

.btn-orange {
  background-color: $secondary !important;
  color: $on_background !important;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $background !important;
    color: $on_background !important;
    outline: $secondary solid 2px;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 0.2rem $secondary !important;
  }
}

.btn-tertiary {
  background-color: $tertiary !important;
  color: $on_background !important;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $background !important;
    color: $on_background !important;
    outline: $tertiary solid 2px;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 0.2rem $tertiary !important;
  }
}
