
  .card {
    background-color: $surface;
    border-radius: 8px;
    padding: 12px;
    color: $on_surface;
    border-top: 0px;
  }

  .bg-color-surface {
    background-color: $surface;
    color: $on_surface;
    border-color: $outline;
  }

  .chat-bot-card {
    background-color: $secondary;
    border-radius: 8px;
    padding: 16px;
    color: $on_background;
    border-top: 0px;
  }

  // Style : Overlay sur les cards avec animation scale
  .manga-card {
    position: relative; // nécessaire pour l'overlay
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;// pour ne pas dépasser les bords
    backface-visibility: hidden;


    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $secondary;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 0;
      mix-blend-mode: multiply;
    }

    // assure que le contenu reste au-dessus de l’overlay
    > * {
      position: relative;
      z-index: 1;
    }
  }
  // Hover pour le mode bureau
  @media (hover: hover) and (pointer: fine) {
    .manga-card:hover::after {
      opacity: 0.1;
    }

    .manga-card:hover {
      transform: scale(1.01);
      box-shadow: none;
      outline: none;
    }
  }
// Fin du bloc de code pour le style Overlay

.size-image-card {
  width: 150px;
  height: 250px;
  object-fit: cover;
}
