
.img-cover-fixed {
  width: 100px;
  height: 140px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.375rem;
}

.img-full {
  width: 100%;
  object-fit: cover;
}

.manga-bot-img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 100%;
  height: auto;
}

/* Pour séparer un peu chaque message */
.message {
  padding: 1rem;
  border-radius: 1rem;
  background: $hover;
  box-shadow: 0 1px 6px rgba(0,0,0,0.03);
  color: $surface;
  overflow-y: auto;
}

.user-msg {
  background: $hover;
}

.bot-msg {
  background: $hover;
}

.overlay-background {
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  height: 595px; // doit correspondre à la hauteur de l'image
  background: linear-gradient(#202020, #45454533);
  z-index: 1;
}

.topbar-show {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; // au-dessus de l’overlay
}
