.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
// Background color de la navbar
.bg-grey {
  background-color: $surface_variant;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
// Animation en css des liens de la navbar
.nav-link, .navbar-brand{
  color: $on_surface;
  &:hover {
    color: $secondary;
  }
}

.nav-item i{
  color: $secondary;
  font-size: 26px;
  line-height: 48px;
}

.nav-item p{
  font-size: 12px;
}

.navbar-nav {
  min-width: 100%;
}

@media (max-width: 991.98px) {
    .navbar-mobile-bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 1030;
    }
  }

  @media (min-width: 992px) {
    .navbar-mobile-bottom {
      position: static;
    }
  }

  body {
    padding-bottom: 60px; /* pour éviter que le contenu mobile soit caché par la navbar */
  }
