.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
// Background color de la navbar
.bg-grey {
  background-color: $surface_variant;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
// Animation en css des liens de la navbar
.nav-link, .navbar-brand{
  color: $on_surface;
  &:hover {
    color: $secondary;
  }
}
